header{
    padding: 30px 0px 30px 0px;
    background-color: rgb(212, 150, 150);
}

.header-left{
    font-size: 20px;
}

.header-right{
    font-size: 10px;
    float: right;
    margin-top: -80px;
}

.top-wrapper {
    padding: 100px 0 100px 0;
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}


.top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    opacity: 0.9;
}

.top-wrapper p {
    opacity: 0.9;
}

.upload-btn {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.functions{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.button-image {
    display: inline-block;
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: block;
    background-color: aqua; /*判定確認用*/
    box-shadow: 0 7px #a0a0a0;
}

.button-image:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

.file-name{
    margin: 0 auto;
    height: 500px;
    width: 200px;
    height: 200px;
    background-color: rgb(237, 248, 248);
}

.appload {
  text-align: center;
}

footer {
  padding: 10px 0;
}

